{% extends 'base.html.twig' %}

{% block title %}Hello CalculatorController!{% endblock %}

{% block javascripts %}
    <script src="/js/calculator.js"></script>

{% endblock %}

{% block body %}
        <!-- main screen to show the last calculation and second screen to show result -->           
        <div class="calculator card">
            <input type="text" id="screen" class="main"  disabled/>                   
            <input type="text" id="second" class="small" value="0" disabled/>
        <!-- use a table to show all buttons -->
        <table border="0"> 
         <tr> 
            <td><input class="button" type="button" value="7" onclick="number('7')"/> </td> 
            <td><input class="button" type="button" value="8" onclick="number('8')"/> </td> 
            <td><input class="button" type="button" value="9" onclick="number('9')"/> </td>
            <td><input class="op" type="button" value="/" onclick="number('/')"/> </td>            
         </tr> 
         <tr> 
            <td><input class="button" type="button" value="4" onclick="number('4')"/> </td> 
            <td><input class="button" type="button" value="5" onclick="number('5')"/> </td>
             <td><input class="button" type="button" value="6" onclick="number('6')"/> </td>  
            <td><input class="op" type="button" value="*" onclick="number('*')"/> </td>            
         </tr> 
         <tr> 
            <td><input class="button" type="button" value="1" onclick="number('1')"/> </td> 
            <td><input class="button" type="button" value="2" onclick="number('2')"/> </td>
            <td><input class="button" type="button" value="3" onclick="number('3')"/> </td> 
            <td><input class="op" type="button" value="-" onclick="number('-')"/> </td> 
         </tr> 
         <tr> 
             <td><input class="button" type="button" value="0" onclick="number('0')"/> </td> 
            <td><input class="button" type="button" value="." onclick="number('.')"/> </td>  
            <td><input class="eq" type="button" value="=" onclick="calculate()"/> </td> 
            <td><input class="op" type="button" value="+" onclick="number('+')"/> </td>
            
         </tr> 
      </table> 
   </div>
{% endblock %}
