
.main {
    height:70px;
    width:330px;
    background-color: white;
    border-radius: 10px;
    text-align: right;
    border: none;
}

.small {
    width:330px;
    height: 40px;
    font-size: 2rem;
    text-align: right;
    background-color: white;
    border: none;
}

.button{
	background-color: #E6E6E6;
  border: none;
  color: black;
  	border: none;
  	border-radius: 5px;
    height:40px;
    width:80px;
}

.op{
	background-color: #D8D8D8;
	border-radius: 5px;
  border: none;
  color: black;
  	border: none;
  	
    height:40px;
    width:80px;
}
.eq{
	background-color: #58ACFA;
	border-radius: 5px;
  border: none;
  color: black;
  	border: none;
  	
    height:40px;
    width:80px;
}



html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
}









